.container {
  position: relative;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  color: var(--white);
}

.button {
  margin-top: 35px;
}
