.container {
  position: relative;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #011854aa;
  }
}

.content {
  position: relative;
  color: var(--white);
}

.button {
  margin-top: 35px;
}
