@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Colors */
  --color-background: #f1f1e4;
  --color-background-alt: #959e94;
  --color-foreground: #171717;
  --color-primary: #333333;
  --color-secondary: #182d27;
  --color-text: #7a7a7a;
  --color-accent: #568673;
  --color-accent-light: #a5d7bf;
  --color-danger: #cb6a61;
  --color-border-primary: #33333338;

  /* Fonts */
  --font-kumlien: 'Kumlien', sans-serif;

  /* Sizes */
  --fs-xxl: clamp(3.5rem, 10vw, 5rem);
  --fs-xl: clamp(2.3rem, 8vw, 3.5rem);
  --fs-xl-l: clamp(1.8rem, 5vw, 3.2rem);
  --fs-l: clamp(1.8rem, 5vw, 2.5rem);
  --fs-l-s: clamp(1.5rem, 5vw, 2rem);
  --fs-m: clamp(1rem, 10vw, 0.9rem);
  --fs-s: clamp(0.7rem, 10vw, 0.8rem);

  --padding-y: clamp(20px, 5vw, 70px);
  --padding-root-y: 0 var(--padding-y);

  --page-max-width: 1600px;

  /* Breakpoints */
  --breaking-point-xxl: 1400px;
  --breaking-point-xl: 1200px;
  --breaking-point-lg: 992px;
  --breaking-point-md: 768px;
  --breaking-point-sm: 576px;
  --breaking-point-xs: 380px;
  --breaking-point-xxs: 330px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--background);
  white-space: pre-line;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: var(--font-kumlien);
}

h3,
h5 {
  font-family: var(--font-proxima-nova);
  font-weight: 600;
}

p,
a,
ul,
li {
  font-family: var(--font-proxima-nova);
}

p {
  font-family: var(--font-proxima-nova);
  font-size: var(--fs-m);
  font-weight: 300;
}

a,
button {
  color: inherit;
  text-decoration: none;
  font-size: var(--fs-m);
}

footer {
  padding: 0 var(--padding-y);
}

/* Slider */

.slick-dots li.slick-active button:before {
  color: #fd7959 !important;
  font-size: 10px;
}

/* Calendar */

.calendly-badge-content {
  border-radius: 0 !important;
  font-weight: 500 !important;
  font-size: 13px !important;
  letter-spacing: 1.5px;
}
