@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  // Colors

  --background: white;

  //Sizes
  --fs-xxl: clamp(3.5rem, 10vw, 5rem);
  --fs-xl: clamp(2.3rem, 8vw, 3.5rem);
  --fs-xl-l: clamp(1.8rem, 5vw, 3.2rem);
  --fs-l: clamp(1.8rem, 5vw, 2.5rem);
  --fs-l-s: clamp(1.5rem, 5vw, 2rem);
  --fs-m: clamp(1rem, 10vw, 0.9rem);
  --fs-s: clamp(0.7rem, 10vw, 0.8rem);

  --padding-y: clamp(20px, 5vw, 70px);
  --padding-root-y: 0 var(--padding-y);

  --page-max-width: 1600px;

  //Breakpoints
  --breaking-point-xxl: 1400px;
  --breaking-point-xl: 1200px;
  --breaking-point-lg: 992px;
  --breaking-point-md: 768px;
  --breaking-point-sm: 576px;
  --breaking-point-xs: 380px;
  --breaking-point-xxs: 330px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: var(--background);
  white-space: pre-line;
}

h1 {
  font-size: var(--fs-xl);
}

h1,
h2,
h3,
h4,
h6 {
  font-weight: 500;
  color: var(--blue);
  font-family: var(--font-serif);
  font-weight: 500;
  margin: 0;
}

p {
  font-family: var(--font-sans);
  font-size: var(--fs-m);
  font-weight: 200;
}

a,
button {
  color: inherit;
  text-decoration: none;
  font-size: var(--fs-m);
}

nav,
footer {
  padding: 0 var(--padding-y);
}
